# Bağımlılıklar
node_modules/

# Derleme Çıktıları
dist/
build/
.next/
out/

# Ortam Değişkenleri
.env
.env.local
.env.development
*.env

# Sistem Dosyaları
.DS_Store
Thumbs.db

# Loglar
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editör Dizinleri ve Dosyaları
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
